.footer {
  background-color: #1a1a1a;
  padding: 20px 0;
  font-family: Arial, sans-serif;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: grid;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.blogos {
  width: 30px;
  height: auto;
  margin-right: 10px;
  margin-bottom: 25px;
}

.logo-text {
  color: #ff6b00;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 30px;
}

.footer-nav {
  display: flex;
  align-items: center;
  /* margin-bottom: 100px; */
  margin-top: -80px;
}

.footer-nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: #ff6b00;
}

.nav-separator {
  color: #444444;
  margin: 0 15px;
}

.social-icons {
  display: flex;
  margin-left: 120px;
  gap: 8px;
}

.social-icon {
  background-color: #ff6b00;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon img {
  width: 15px;
  height: 15px;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .logo-container {
    margin-bottom: 15px;
  }

  .footer-nav {
    margin-bottom: 15px;
  }

  .social-icons {
    margin-top: 15px;
  }
}
