.header {
  background: url("../../assets/sky.png") no-repeat center center;
  background-size: cover;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  color: white;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  width: 400px; /* Adjust the width to make it larger */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 2rem;
}

.original-game {
  width: 100%;
  max-width: 529px;
  margin-bottom: 1rem;
}

.game-date {
  width: 268px;
  margin-bottom: 2rem;
}

.play-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.play-btn:hover {
  transform: scale(1.05);
}

.play-btn img {
  width: 100%;
  max-width: 456px;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
}

.stat-item {
  text-align: center;
  margin-top: 2rem;
}

.stat-item img {
  width: 80px;
  margin-bottom: 0.5rem;
}
.bankroll {
  margin-top: 4px;
  height: 65px;
}
.house {
  margin-top: 2px;
  height: 65px;
}

@media (max-width: 768px) {
  .stats-container {
    flex-direction: column;
    align-items: center;
  }

  .stat-item {
    margin-bottom: 1.5rem;
  }
  .logo {
    width: 80%; /* Adjust this value for a responsive logo size on smaller screens */
  }
}
