.header {
  text-align: center;
  background: url("../../assets/sky.png") no-repeat center center;
  background-size: cover;
  padding: 2rem;
  color: white;
  height: 891px;
  width: 1680px;
  mix-blend-mode: lighten;
}
.logo {
  width: 293px;
  height: 80px;
  top: 152px;
  left: 695px;
  gap: 0px;
  opacity: 0px;
}
.logo0 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.originalGame {
  width: 529px;
  height: 222px;
  top: 274px;
  left: 576px;
  gap: 0px;
  opacity: 0px;
}
.originalGame0 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gameDate {
  width: 268px;
  height: 28px;
  top: 511px;
  left: 719px;
  gap: 0px;
  opacity: 0px;
  align-items: center4;
  color: #ffffff;
}
.gameDate0 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.playBtn {
  width: 456px;
  height: 60px;
  top: 587px;
  left: 615px;
  padding: 12px 0px 12px 0px;
  gap: 10px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0px;
}
.playBtn {
  /* display: flex; */
  align-items: center;
  justify-content: center;
}
.house {
  width: 117px;
  height: 108px;
  top: 732px;
  left: 371px;
  gap: 0px;
  opacity: 0px;
  display: inline;
}
.wagered {
  width: 136px;
  height: 108px;
  top: 732px;
  left: 769px;
  gap: 0px;
  opacity: 0px;
}
.bankroll {
  width: 101px;
  height: 108px;
  top: 732px;
  left: 1207px;
  gap: 0px;
  opacity: 0px;
}
