/* Leaderboard.css */

.leaderboard-container {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

.featured-card {
  background-image: url("src/assets/winnerBanner.png");
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 95%; /* Adjusted to full width for responsiveness */
  max-width: 1150px; /* Maximum width to maintain card size */
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.winner-cup {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.card-content {
  color: white;
}

.card-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.bustatrx-logo {
  width: 30px;
  height: auto;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 14px;
  max-width: 600px;
}

.leaderboard-table {
  background-color: #1e1e1e;
  border-radius: 10px;
  overflow: hidden;
}

.table-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #2a2a2a;
  color: #888;
  font-size: 14px;
}

.table-row {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid #2a2a2a;
}

.rank-badge {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-right: 15px;
}

.rank-badge:nth-child(1) {
  background-color: #ffd700;
}
.rank-badge:nth-child(2) {
  background-color: #c0c0c0;
}
.rank-badge:nth-child(3) {
  background-color: #cd7f32;
}
.rank-badge:nth-child(4) {
  background-color: #4b0082;
}
.rank-badge:nth-child(5) {
  background-color: #006400;
}

.player-name {
  flex-grow: 1;
  color: #00ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-profit {
  color: white;
  display: flex;
  align-items: center;
}

.coin-icon {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

.player {
  margin-left: 47%;
}

.learnMore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 0; /* Added padding for better spacing */
}

.learnMore h1 {
  margin: 0;
}

.learnMore p {
  margin: 10px 0;
}

.learnMore img {
  margin-top: 20px;
  width: auto;
  height: auto;
  max-width: 100%;
}

@media (max-width: 768px) {
  .featured-card {
    height: auto; /* Adjust height to auto for smaller screens */
  }

  .card-content h2 {
    font-size: 20px; /* Decrease font size for smaller screens */
  }

  .bustatrx-logo {
    width: 20px; /* Decrease logo size for smaller screens */
  }

  .rank-badge {
    width: 25px;
    height: 25px;
    font-size: 12px; /* Adjust badge size and font size for smaller screens */
    margin-right: 10px;
  }

  .player {
    margin-left: 40%; /* Adjust margin for player name on smaller screens */
  }
}
