.main-content {
  background-color: #121212;
  padding: 2rem;
  color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2rem;
}

.feature-card {
  background-color: #1e1e1e;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 450px;
  width: 320px;
}

.feature-card h2 {
  font-size: 1.2rem;
  margin-top: 50px;
}

.feature-icon {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin: 1rem auto;
  font-family: "Bebas Neue";
}

.feature-card p {
  font-size: 0.9rem;
  color: #a0a0a0;
  font-family: "Roboto Condensed";
}

.info-section {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Changed to 2 columns for the two groups */
  gap: 2rem;
  padding: 10px;
}

.column1,
.column2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: -5px;
}
.column1 {
  margin-top: 225px;
}

.info-card {
  background-color: #1e1e1e;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  width: 500px;
  height: 450px;
}

.info-card h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.info-card p {
  font-size: 0.9rem;
  color: #a0a0a0;
  margin-bottom: 1rem;
  font: "Roboto Condensed";
  line-height: 22px;
}

.learn-more {
  color: #ff6b00;
  text-decoration: none;
  font-weight: bold;
}

.bustatrx-logo {
  width: 50px;
  margin-bottom: 1rem;
}

.info-icon {
  width: 110px;
  height: 110px;
  object-fit: contain;
  margin-top: 60px;
}

.how-it-works,
.enhanced-privacy {
  flex-direction: row;
  align-items: center;
}

.how-it-works .info-content,
.enhanced-privacy .info-content {
  flex: 1;
}

.how-it-works .info-icon,
.enhanced-privacy .info-icon {
  margin-left: 1rem;
}

.whats-bustatrx,
.advanced-autobet {
  flex-direction: column;
}

.whats-bustatrx .bustatrx-logo {
  align-self: flex-start;
}

.advanced-autobet .info-icon {
  align-self: flex-end;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .features {
    grid-template-columns: 1fr;
  }

  .info-section {
    grid-template-columns: 1fr;
  }

  .column1,
  .column2 {
    flex-direction: column;
  }

  .how-it-works,
  .enhanced-privacy {
    flex-direction: column;
  }

  .how-it-works .info-icon,
  .enhanced-privacy .info-icon {
    margin-left: 0;
    margin-top: 1rem;
  }
}
